@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #9b9cb3;
    color: white;
    text-align: center;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between; /* הכפתור והלוגואים יהיו בצדדים */
    padding: 10px 20px; /* קצת מרווחים פנימיים */
    font-family: 'Quicksand', sans-serif;
}

.project-name {
    padding-top: 15px;
    font-size: 2.5em;
    font-weight: 600; /* משקל כבד יותר עבור הכותרת */
    letter-spacing: 1px;
}

.project-description {
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500; /* משקל קל יותר לתיאור */
}

button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

body {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.logos-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.logo {
    width: 130px;
    height: auto;
    transition: transform 0.3s ease;
    padding: 5px;
}