.task-planning-container {
    font-family: Verdana, sans-serif;
    margin: 10px;
  }
  
  .node {
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #ddd;
    position: relative;
    font-size: 13px;
  }
  
  .node-content {
    padding: 10px;
    border-radius: 4px;
  }
  
  .node-content.epic {
    background-color: #c09ee7;
  }
  
  .node-content.story {
    background-color: #61d570;
  }
  
  .node-content.task {
    background-color: #58bfdb;
  }
  
  .node-content.subtask {
    background-color: #f9a1a1;
  }
  
  .children {
    margin-left: 20px;
  }
  
  .node:after {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    width: 10px;
    height: 1px;
    background-color: #000;
    transform: translateY(-50%);
  }
  
  .level-0 {
    font-weight: bold;
    border: 2px solid #f14500;
  }
  
  .level-1 {
    border-left: 3px solid #c09ee7;
  }
  
  .level-2 {
    border-left: 3px solid #61d570;
  }
  
  .level-3 {
    border-left: 3px solid #58bfdb;
  }
  
  .level-4 {
    border-left: 3px solid #d9534f;
  }
  
  