.task-planning-container {
    font-family: Verdana, sans-serif;
    margin: 40px;
}

.node {
    display: inline-block;
    padding: 20px 10px;
    background-color: #f4f4f4;
    position: relative;
    font-size: 13px;
    text-align: center;
    width: auto;
    box-shadow: none;
}

.node-content {
    padding: 10px;
    border-radius: 4px;
    background-color: #ddd;
}

.node-content.epic {
    background-color: #c09ee7;
}

.node-content.story {
    background-color: #61d570;
}

.node-content.task {
    background-color: #58bfdb;
}

.node-content.subtask {
    background-color: #f9a1a1;
}

.tree-level {
    display: flex;
    justify-content: center;
}

.level-0 {
    font-weight: bold;
    background-color: #f9f9f9;
}

.level-1 {
    background-color: #e1daf1;
}

.level-2 {
    background-color: #c8e6a9;
}

.level-3 {
    background-color: #b1e0f4;
}

.level-4 {
    background-color: #f8d0d1;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}